section {
  margin-top: 24px;
}

.titles {
  text-align: center;

  h1 {
    color: #E4801E;
    font-size: 30px;
    //margin-top: 24;
    font-weight: -400;
    line-height: 55.8px;
  }

  h2 {
    color: #4D4D4D;
    font-style: 25px;
    margin-top: 2px;
    font-weight: -400;
    line-height: 46.5px;
  }
}

.meals {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-around;
}
