header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  div {
    width: 50%;
  }

  img {
    margin-left: 4rem;
  }

  ul {
    display: flex;
    justify-content: space-around;
    margin-left: 4rem;

    li {
      font-size: 1rem;
      font-weight: 400;
      line-height: 29.76px;
      color: #FFFFFF;
    }
  }
}
